<audio data-piwik-title="Clock" preload="auto" id="audio-clock">
	<source src="{{ site.url }}/assets/sounds/clock.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/clock.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
<div class="audio-element nejo-rotate-90" id="clock"></div>

<audio data-piwik-title="Clock 2" preload="auto" id="audio-clock2">
	<source src="{{ site.url }}/assets/sounds/clock2.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/clock2.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
<div class="audio-element nejo-rotate-100" id="clock2"></div>

<audio data-piwik-title="Clock 3" preload="auto" id="audio-clock3">
	<source src="{{ site.url }}/assets/sounds/clock3.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/clock3.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
<div class="audio-element nejo-rotate-120" id="clock3"></div>

<audio data-piwik-title="Crazy" preload="auto" id="audio-crazy">
	<source src="{{ site.url }}/assets/sounds/crazy.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/crazy.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
<div class="audio-element nejo-rotate-140" id="crazy"></div>

<audio data-piwik-title="Gouttes" preload="auto" id="audio-gouttes">
	<source src="{{ site.url }}/assets/sounds/gouttes.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/gouttes.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
<div class="audio-element nejo-rotate-160" id="gouttes"></div>

<audio data-piwik-title="Lecture" preload="auto" id="audio-lecture">
	<source src="{{ site.url }}/assets/sounds/lecture.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/lecture.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
<div class="audio-element nejo-rotate-180" id="lecture"></div>

<audio data-piwik-title="Ressort Corpus 1" preload="auto" id="audio-ressort_corpus_1">
	<source src="{{ site.url }}/assets/sounds/ressort_corpus_1.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/ressort_corpus_1.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
<div class="audio-element nejo-rotate-200" id="ressort_corpus_1"></div>

<audio data-piwik-title="Ressort Corpus 2" preload="auto" id="audio-ressort_corpus_2">
	<source src="{{ site.url }}/assets/sounds/ressort_corpus_2.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/ressort_corpus_2.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
<div class="audio-element nejo-rotate-220" id="ressort_corpus_2"></div>

<audio data-piwik-title="Tornado" preload="auto" id="audio-tornado">
	<source src="{{ site.url }}/assets/sounds/tornado.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/tornado.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
<div class="audio-element nejo-rotate-240" id="tornado"></div>

<!-- <audio preload="auto" id="audio-upsetter1">
	<source src="{{ site.url }}/assets/sounds/upsetter1.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/upsetter1.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
<div class="audio-element" id="upsetter1"></div>
 -->
<audio data-piwik-title="Upsetter 2" preload="auto" id="audio-upsetter2">
	<source src="{{ site.url }}/assets/sounds/upsetter2.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/upsetter2.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
<div class="audio-element nejo-rotate-260" id="upsetter2"></div>

<audio data-piwik-title="Upsetter 3" preload="auto" id="audio-upsetter3">
	<source src="{{ site.url }}/assets/sounds/upsetter3.mp3"></source>
	<source src="{{ site.url }}/assets/sounds/upsetter3.ogg"></source>
	Your browser isn't invited for super fun audio time.
</audio>
<div class="audio-element nejo-rotate-270" id="upsetter3"></div>