<div class="social-links">
  <a href="http://facebook.com/nejolis" target="_blank" data-track-content data-content-name="Social Facebook"><i class="fa fa-facebook rolling-left" aria-hidden="true"></i></a>
  <a href="http://soundcloud.com/nejolis/" target="_blank" data-track-content data-content-name="Social Soundcloud"><i class="fa fa-soundcloud zooming-in" aria-hidden="true"></i></a>
  <a href="https://www.youtube.com/channel/UCi8zrnto5Q5lIMPR64AddiQ" target="_blank" data-track-content data-content-name="Social Youtube"><i class="fa fa-youtube-play zooming-out" aria-hidden="true"></i></a>
  <a href="https://nejolis.bandcamp.com/" target="_blank" data-track-content data-content-name="Social Bandcamp"><i class="fa fa-bandcamp rolling-right" aria-hidden="true"></i></a>
</div>
<div class="social-links">
  <a href="mailto:nejolis.contact@gmail.com" target="_blank" data-track-content data-content-name="Social Email" title="Nous envoyer un gentil mail"><i class="fa fa-envelope zooming-in" aria-hidden="true"></i></a>
</div>