.audio-element {
  @extend %nejolis-display;
  @extend %transition-transform;
  transition-property: color;
  transition-duration: 0.5s;
  color: transparentize($blue-foreground, 0.25);

  background-color: transparent;
  position: fixed;
  z-index: 9999;

  &:before {
    font-size: 4em;
    content: $nejo-circle;
  }

  &:hover {
    color: $blue-bright;
  }
}

#clock {
  top: 1vw;
  left: 1vw;
}
#clock2 {
  bottom: 20vw;
  left: 14vw;
}
#clock3 {
  bottom: 3vw;
  right: 6vw;
}
#crazy {
  top: 7vw;
  right: 20vw;
}
#gouttes {
  top: 15vw;
  left: 17vw;
}
#lecture {
  top: 20vw;
  left: 2vw;
}
#ressort_corpus_1 {
  bottom: 0vw;
  left: 41vw;
}
#ressort_corpus_2 {
  bottom: 17vw;
  right: 12vw;
}
#tornado {
  top: 29vw;
  right: 4vw;
}
// #upsetter1 {
//   bottom: 6vw;
//   right: 26vw;
// }
#upsetter2 {
  bottom: 5vw;
  right: 26vw;
}
#upsetter3 {
  bottom: 3vw;
  left: 10vw;
}