.foreground {
  @extend %extend1;
  height: 15vw;
  position: fixed;
  bottom: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  z-index:  999;

  @media (max-width: $extra-large-screen) {
    background-image: url(../img/fond_extra_large.png); 
  }
  @media (max-width: $large-screen) {
    background-image: url(../img/fond_large.png); 
  }
  @media (max-width: $medium-screen) {
    background-image: url(../img/fond_medium.png); 
  }
  @media (max-width: $small-screen) {
    background-image: url(../img/fond_small.png); 
  }
}

.page {
  @extend %extend1;
  display: inline-block;
  position: relative;
  background-color: transparent;
  // background: url(../img/visuel_final_3000.jpg), left top, no-repeat;
  // background-size: 100%;
  
  // height: 2000px;

  img {
    position: absolute;
    background-color: transparent;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
  }
  
}

.scrolling-content {
  position: relative;
  height: auto;
  width: 44%;
  background-color: transparent;
  margin: auto;
  padding-left: 5px;
  z-index: 99;

  .scrolling-background {
    height: 100%;
    width: 50%;
    left: 25%;
    background: #0a254c66;
    position: absolute;
    z-index: -10;
    box-shadow: 0px 0px 100px 6px;
  }
}

.logo {
  height: auto;
  width:  80%;
  margin: auto;

  @media all and (max-width: $small-screen) {
    height: 100vw;
  }
  
  img {
    top: 100px;
    position: relative;
  }
}

.vertical-space {
  height: 80vw;
  width:  100%;

  @media (max-width: $extra-large-screen) {
    height: 30vw;
  }
  @media (max-width: $large-screen) {
    height: 40vw;
  }
  @media (max-width: $medium-screen) {
    height: 60vw;
  }
  @media (max-width: $small-screen) {
    height: 100vw;
  }
}

.social-links {
  height: auto;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
  font-size: 6vw;

  .fa-soundcloud {
    color: $soundcloud-color;
  }
  .fa-facebook {
    color: $facebook-color;
  }
  .fa-youtube-play {
    color: $youtube-color;
  }
  .fa-bandcamp {
    color: $bandcamp-color;
  }
  .fa-envelope {
    color: whitesmoke;
  }
}

.iframe-div {
  width: 30vw;
  height: 30vw;
  margin: auto;
}

.image-div {
  width: 30vw;
  height: auto;
  margin: auto;
  img {
    position: relative;
    width: 100%;
  }
}

.laffect {
  width: 25vw;
}

iframe {
  border: 0; 
  width: 100%; 
  height: 100%;

  .inline_player {
    max-width: none !important;
  }
}
