%extend1 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 100%;
}

html {
	@extend %extend1;
}

body {
	@extend %extend1;


  overflow-y: auto;
  background-color: $blue-background;
  background-image: url(../img/fond_puit_large.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;

  @media all and (max-width: $extra-large-screen) {
    background-image: url(../img/fond_puit_extra_large.jpg); 
  }
  @media all and (max-width: $large-screen) {
    background-image: url(../img/fond_puit_large.jpg); 
  }
  @media all and (max-width: $medium-screen) {
    background-image: url(../img/fond_puit_medium.jpg); 
  }
  @media all and (max-width: $small-screen) {
    background-image: url(../img/fond_puit_small.jpg); 
  }
}

