$soundcloud-color: #ffab00;
$facebook-color: #819baa;
$youtube-color: #962b2b;
$bandcamp-color: #1a571a;

$small-screen: 640px;
$medium-screen: 1152px;
$large-screen: 1440px;
$extra-large-screen: 2048px;

$blue-background: #3b5671;
$blue-foreground: #092558;
$blue-bright: #c3ced2;