---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
  <!-- Header -->
  {% include header.html %}
  <div class="foreground"></div>
  <div class="page">
    <!-- <img src="{{site.background}}" /> -->
    <div class="scrolling-content">
      <div class="scrolling-background"> </div>
      <div class="logo">
        <img class="rolling-right" src="assets/img/nejolis_texte.png" />
      </div>

      <div class="vertical-space"></div>
      
      <div class="iframe-div" data-track-content data-content-name="St Malo Clip">
        <iframe style="width: 100%; height: 57%;" width="1280" height="720" src="https://www.youtube.com/embed/lYaeLr3yQKA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      
      <div class="vertical-space"></div>
      
      <div class="iframe-div" data-track-content data-content-name="Malo's Dream Bandcamp">
        <iframe src="https://bandcamp.com/EmbeddedPlayer/album=672558229/size=large/bgcol=333333/linkcol=e99708/minimal=true/transparent=true/" seamless><a href="http://laffectrecords.bandcamp.com/album/ar10-malos-dream">[AR07] Malo's Dream by nejolis</a></iframe>
      </div>

      <div class="vertical-space"></div>
      
      <div class="iframe-div" data-track-content data-content-name="Malo's Dream Teaser">
        <iframe style="width: 100%; height: 57%;" width="1280" height="720" src="https://www.youtube.com/embed/5aYKSy7evn0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      
      <div class="vertical-space"></div>
      
      <div class="iframe-div" data-track-content data-content-name="nejolis Bandcamp">
        <iframe src="https://bandcamp.com/EmbeddedPlayer/album=2154923318/size=large/bgcol=333333/linkcol=e99708/minimal=true/transparent=true/" seamless><a href="http://laffectrecords.bandcamp.com/album/ar07-nejolis">[AR07] nejolis by nejolis</a></iframe>
      </div>
      
      <div class="vertical-space"></div>
      
      <div class="image-div laffect zooming-in">
        <a href="http://laffect.fr" target="_blank" data-track-content data-content-name="L'Affect Website"><img src="assets/img/coeur_blanc.png" /></a>
      </div>
      
      <div class="vertical-space"></div>
      
      {% include social-links.html %}
      
      <div class="vertical-space"></div>
    </div>
  </div>
  {% include audio.html %}
  {% include scripts.html %}
</body>
</html>
